[defaults]
inventory = ~/automation/ansible/hosts
roles_path = ~/automation/ansible/roles
forks = 5
host_key_checking = false
deprecation_warnings = false

[privilege_escalation]
become=True
become_method=sudo
become_user=root
become_ask_pass=false

#[privilege_escalation]
#ansible_user=winadm
#ansible_password="Witor!23"
#ansible_connection=winrm
#ansible_winrm_transport=ntlm
# ansible_winrm_server_cert_validation=ignore
